{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">What article do you want to read?</h1>
<h4 style="text-align: center;">We advise you to choose this one: 10.1371/journal.pone.0008960, since we are sure it'll work...</h4>
<h5 style="text-align: center;">We also advise you to show interest in the reference [48]. Yeah, same reason.</h5>>
<form style="text-align: center;" action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.searchfield.label }} <br>
  <div>{{ form.searchfield(size=64) }}</div>


    {% for error in form.searchfield.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
{% endblock %}